{% extends "base_message.html" %}

{% block style-ext %}
<style>
  .text-explain {
    margin: 5px auto;
    color: rgb(39, 39, 39);
    font-size: 16px;
  }

  .text-username {
    color: black;
    font-size: 18px;
    font-weight: 500;
    width: max-content;
    margin: 0 auto;
  }

  .link-reset {
    color: rgb(0, 0, 80);
    font-size: 20px;
    margin: 5px auto;
    font-weight: 700;
    display: block;
    width: max-content;
  }

  .container-content {
    width: 100%;
  }
</style>
{% endblock style-ext %}

{% block content %}
  <div class="container-content">
    <p class="text-explain">We have received a request to reset the password for your account associated with this email address
      electronic. To begin the process of resetting your account password, click the link below.</p>

    <a href="{{ domain }}{% url 'password-recovery-confirm' uidb64=uid token=token %}" class="link-reset">Reset your password</a>
    <p class="text-explain">This link can only be used once. If you need to reset your password again, please visit our website and request another reset.</p>
  
  </div>
{% endblock content %}
